<header>
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="{{ site.url }}" class="brand-logo">{{ site.title }}</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ site.baseurl }}/overview/overview.html">Overview</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown-resources">Resources<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="https://github.com/colonio" target=”_blank”>GitHub</a></li>
                </ul>
            </div>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <ul id="dropdown-resources" class="dropdown-content">
        <li><a href="{{ site.baseurl }}/resources/usecase.html">Use case</a></li>
    </ul>
    <ul class="sidenav" id="mobile-menu">
        <li><a href="{{ site.baseurl }}/index.html">Colonio</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{{ site.baseurl }}/overview/overview.html">Overview</a></li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Resources<i class="material-icons right"
                            style="margin-right:0;">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{ site.baseurl }}/resources/usecase.html">Use
                                    case</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="https://github.com/colonio" target=”_blank”>GitHub</a></li>
    </ul>
</header>